
.boss{
	position: absolute;
	left: 0px;
	min-height: 35px;
	width: 300px;
	z-index: 2048;
}
.boss .shopbtn{
	background-color: white;

	/*z-index: 1024;*/
	border: 1px solid #000;
	border-bottom: none;
	float: right;
	text-align: center;
	width: 130px;
}
.boss .shopbtn button{
	border-bottom: 1px solid #000;
	position: relative;
	font-size: 20px;
}
.boss:hover .shopbtn button{
	top:1px;
	border-bottom: 1px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
}

.boss .showList{
	background-color: white;
	clear: both;
	border: 1px solid #000;
	/*z-index: 999;*/
}
.boss .showList .showShopList{
	height: 75px;
	width: 100%;
	margin-bottom: 3px;
}
.boss .showList .spin{
	margin-left: 46%;
	text-align: center;
}
.boss .showList p{
	text-align: center;
	font: 20px 宋体；
}
.boss .showList .showShopList .showShopListImg{
	height: 100%;
	width: 30%;
}
.boss .showList .showShopList .shopInfo{
	height: 100%;
	float: right;
	width: 70%;
}
.boss .showList .showShopList .shopInfo .shopInfoDes{
	padding-left: 10px;
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 50%;
}
.boss .showList .showShopList .shopInfo .shopInfoPri{
	height: 100%;
	float: right;
	width: 50%;
	text-align: right;
}
.boss .showList .showShopList .shopInfo .shopInfoPri span{
	display: block;
}
.boss .showList .showShopList .shopInfo .shopInfoPri span:nth-child(1){
	font-weight: 800;
}
.boss .showList .showShopList .shopInfo .shopInfoPri span:nth-child(2):hover{
	color: red;
}

.boss .showList .footer{
	line-height: 32px;
	background-color: red;
	height: 32px;

}
.boss .showList .footer button{
	float: right;
}