.logo {
  width: 120px;
  height: 63px;
  float: left;
  font-size: 25px;
}

.header {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.header .ant-btn.login-btn {
  position: absolute;
  top: 15px;
  right: 40px;
}

.header .signup-btn {
  position: absolute;
  top: 15px;
  right: 120px;
  color: #aaa;
  border: 1px solid #aaa;
}

.header .login-btn:hover {
  box-shadow: 0px 0px 4px #fff;
}

.header .signup-btn:hover {
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 0px 4px #fff;
}


.header button.user-btn  {
  position: absolute;
  top: 15px;
  right: 40px;
  cursor: pointer;
}


.header .user:hover {
  color: #fff;
}

.loading {
  width: 100%;
  position: absolute;
  text-align: center;
}


a {
  font-weight: 500;
  color: #3355aa;
}
a:hover {
  font-weight: 500;
  color: #3344ee;
}

